body {
  font-family: sans-serif;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid #ccc;
  height: 20px;
  padding: 15px 0;
  position: relative;
}

header h1 {
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

header .spinner {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 18px;
}

header button.cancel {
  background: #ddd;
  border-radius: 10px;
  border: 0 none;
  box-sizing: content-box;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  margin-left: 5px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 18px;
  vertical-align: top;
  width: 18px;
}

button {
  cursor: pointer;
}

/* Contributions */
.contributions {
  position: relative;
}

/* Stats */
.stats {
  padding: 0;
  margin: 0;
}

.stats-item {
  display: inline-block;
  line-height: 1em;
  padding: 20px 0 15px;
  width: 80px;
}

.stats-num {
  font-size: 20px;
  font-weight: bold;
}

.stats-unit {
  color: #999;
  font-size: 12px;
}

/* Matrix */
.matrix {
  margin: 0 auto;
  display: block;
}

text.month {
  font-size: 12px;
  fill: #aaa;
}

*:focus {
  outline: 0;
}

/* Form */
.user-form input {
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  line-height: 16px;
  padding: 2px 4px;
  -webkit-appearance: none;
}

.user-form button {
  background: #fff;
  border: 1px solid #ccc;
  color: #666;
  font-size: 16px;
  line-height: 16px;
  padding: 3px 8px;
}

.user-form button:hover {
  background: #ccc;
}

/* Spinner from http://tobiasahlin.com/spinkit/ */
.spinner {
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
  background-color: #d6e685;
}

.double-bounce2 {
  background-color: #8cc665;

  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
